<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.zql.mapper.IPersonMapper">    <sql id="ref_column">      (name,sex)    </sql>    <insert id="addUsers" parameterType="com.zql.model.Person">        INSERT INTO person        <include refid="ref_column"/>        VALUES        <foreach collection="list" item="person" separator=",">            (#{person.name},#{person.sex})        </foreach>    </insert></mapper>