<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zql.mapper.UserMapper">
    <resultMap id="userMap" type="com.zql.dto.SysUser" >
        <result property="userPassword" column="user_password"/>
        <result property="userName" column="user_name"/>
    </resultMap>
    <select id="selectUserByName" resultMap="userMap">
        SELECT * from sys_user
        <where>
            <if test="_parameter!=null">
                and user_name=#{userName}
            </if>
            <if test="_parameter!=null">
                and user_Email=#{userEmail}
            </if>
        </where>

    </select>
</mapper>